*.iml
.gradle
local.properties
build
/captures
.externalNativeBuild
.idea
gradle
build.gradle
app/build
app/*.iml
app/build.gradle
library/build
library/*.iml
library/build.gradle
mpchartexample/build
mpchartexample/*.iml
mpchartexample/build.gradle
tableexample/build
tableexample/*.iml
tableexample/build.gradle
